.plusButton{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;

}
.plusButton:hover{
cursor: pointer;
}

.count{
    font-weight: 450;
    font-size: 16px;
}